/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@import "../../../node_modules/highlight.js/styles/github.min.css";
@import "../../../node_modules/highlight.js/styles/github-dark.min.css" screen
  and (prefers-color-scheme: dark);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

pre {
  white-space: pre-wrap;
  font-size: 13px;
}
