<div class="flex flex-col gap-3">
  <h1 class="text-4xl font-semibold">Quickstart</h1>

  <p
    >Assuming you already have an Angular app, here's how you can install
    <code>ngx-voyage</code>.<br />
    If you want a more complete guide that includes setting up the Angular app
    from scratch, head to the
    <a class="text-blue-500" href="guide">Howto guide</a>.
  </p>

  <p
    >Install <code>ngx-voyage</code> and it's peer dependencies with
    <code>npm</code>:</p
  >

  <pre><code class="language-bash rounded-md" ngNonBindable><![CDATA[npm install ngx-voyage primeng @primeng/themes highlight.js]]></code></pre>

  <p>
    <code>ngx-voyage</code> has peer dependencies on the following libraries,
    that will need to be installed as well:
  </p>
  <ul class="list-disc ml-5">
    <li
      ><a class="text-blue-500" href="https://angular.dev/" target="_blank">
        Angular
      </a>
      version <code>^19.2.0</code></li
    >
    <li
      ><a class="text-blue-500" href="https://primeng.org/" target="_blank">
        PrimeNG
      </a>
      version <code>^19.0.0</code>, used as UI widget toolkit</li
    >
    <li
      ><a class="text-blue-500" href="https://highlightjs.org/" target="_blank">
        highlight.js
      </a>
      version <code>^11.11.1</code>, used to syntax highlight code files</li
    >
  </ul>

  <p>Enable PrimeNG in your app by adding the following provider:</p>

  <pre><code class="language-typescript rounded-md" ngNonBindable><![CDATA[import { providePrimeNG } from 'primeng/config';
import Aura from '@primeng/themes/aura';

export const appConfig: ApplicationConfig = {
  providers: [
      providePrimeNG({
          theme: { preset: Aura }
      })
  ]
};
]]></code></pre>

  <p>Then you can use <code><![CDATA[<ngx-voyage>]]></code> in your app:</p>

  <pre><code class="language-typescript rounded-md" ngNonBindable><![CDATA[import { NgxVoyageComponent, File } from "ngx-voyage";

@Component({
  selector: "app-root",
  imports: [NgxVoyageComponent],
  template: '<ngx-voyage path="/home" [files]="files"></ngx-voyage>',
})
export class AppComponent {
  files: File[] = [{
    isDirectory: true,
    isFile: false,
    name: 'ngx-voyage',
    size: 1,
    modifiedDate: new Date(),
  }]
}
]]></code></pre>
</div>
