<div class="flex">
  <div class="flex flex-col gap-3">
    <h1 class="text-4xl font-semibold">Features</h1>

    <a
      href="features#files"
      id="files"
      class="text-2xl font-semibold block mt-8"
    >
      Files & folders
    </a>
    <div class="flex flex-col gap-3">
      <div class="">
        Files and folders are provided using the
        <code>[file]</code> input.<br />
        The <code>File</code> interface that describes the input type is
        exported by the <code>ngx-voyage</code> package.<br /><br />
      </div>
      <div class="w-full border border-gray-300 dark:border-gray-600">
        <div class="h-[20rem] flex flex-col">
          <ngx-voyage path="/home" [files]="filesExample"></ngx-voyage>
        </div>
        <pre><code class="language-typescript" ngNonBindable
            ><![CDATA[import { NgxVoyageComponent, File } from 'ngx-voyage';

@Component({
  selector: 'app-demo'
  imports: 'NgxVoyageComponent',
  template: `<ngx-voyage path="/home" [files]="filesExample"></ngx-voyage>`
})
class AppDemoComponent {
  filesExample: File[] = [
    {
      isDirectory: false,
      isFile: true,
      isSymbolicLink: false,
      modifiedDate: new Date(),
      name: "file.txt",
      size: 1024,
    },
    {
      isDirectory: true,
      isFile: false,
      isSymbolicLink: false,
      modifiedDate: new Date(),
      name: "folder",
      size: 1,
    },
  ];
}]]></code></pre>
      </div>
    </div>

    <a
      href="features#folders"
      id="folders"
      class="text-2xl font-semibold block mt-8"
    >
      Folder navigation
    </a>
    <div class="flex flex-col gap-3">
      <div class="">
        You can use the <code>path</code> input to provide an initial path to a
        folder, but also to be notified when the path changes inside the
        component.<br /><br />
        <code>path</code> is a
        <a
          href="https://angular.dev/guide/templates/two-way-binding"
          target="_blank"
          >two-way binding</a
        >, allowing you to bind both input and output using the
        <code>[(path)]</code> syntax.<br />
        You can either use a single <code>model</code> signal in a two way
        binding, or bind <code>[path]</code> and
        <code>(pathChange)</code> independently.
      </div>
      <div class="w-full border border-gray-300 dark:border-gray-600">
        <div class="h-[20rem] flex flex-col">
          <ngx-voyage [(path)]="path" [files]="[]"></ngx-voyage>
          <div class="p-2"
            >Current path:<code>{{ path() }}</code></div
          >
        </div>
        <pre><code class="language-typescript" ngNonBindable
            ><![CDATA[@Component({
  selector: 'app-demo'
  imports: 'NgxVoyageComponent',
  template: `
        <ngx-voyage [(path)]="path" [files]="[]"></ngx-voyage>
        <div class="p-2">Current path:<code>{{ path() }}</code></div>
  `
})
class AppDemoComponent {
  path = model('/path/to/nested/folder')}
}]]></code></pre>
      </div>
    </div>

    <a
      href="features#loading"
      id="loading"
      class="text-2xl font-semibold block mt-8"
    >
      Loading
    </a>
    <div class="flex flex-col gap-3">
      <div class="">
        You can show a loading indicator inside the file explorer with
        <code><![CDATA[[loading]="true"]]></code>
        This is useful if you are fetching files over the network, and loading
        folders can take some time.<br />
        In that case, instead of showing an empty files message you can show
        this loading indicator.
      </div>
      <div class="w-full border border-gray-300 dark:border-gray-600">
        <div class="h-[20rem]">
          <ngx-voyage path="/" [files]="[]" [loading]="true"></ngx-voyage
        ></div>
        <pre><code class="language-html "
      ><![CDATA[<ngx-voyage path="/" [files]="[]" [loading]="true"
></ngx-voyage>]]></code></pre>
      </div>
    </div>

    <a
      href="features#message"
      id="message"
      class="text-2xl font-semibold block mt-8"
    >
      Messages
    </a>
    <div class="flex flex-col gap-3">
      <div class="">
        You can display a message inside the file explorer with:
        <code
          ><![CDATA[[message]="{ text: 'Message text', type: 'warn'}"]]></code
        >
        <p>
          You can use this to show a status when files cannot be fetched from
          the network.<br />
          A message can be of type <code>warn</code>, <code>info</code> or
          <code>error</code>, and will be displayed with the according error and
          color.
        </p>
        <p> </p>
      </div>
      <div class="w-full border border-gray-300 dark:border-gray-600">
        <div class="h-[20rem]">
          <ngx-voyage
            path="/"
            [files]="[]"
            [message]="{ text: 'Watch out', type: 'warn' }"
          ></ngx-voyage
        ></div>
        <pre><code class="language-html "
      ><![CDATA[<ngx-voyage
  path="/"
  [files]="[]"
  [message]="{ text: 'Watch out', type: 'warn' }"
></ngx-voyage>]]></code></pre>
      </div>
    </div>

    <a
      href="features#templates"
      id="templates"
      class="text-2xl font-semibold block mt-8"
    >
      Header & footer templates
    </a>
    <div class="flex flex-col gap-3">
      <div class="">
        You can customize the file explorer by providing a header and/or a
        footer template.<br />
        Your template will be projected inside the file explorer, above and
        below the bookmarks in the left sidebar.<br />
        Use this to add your branding or some custom features.
      </div>
      <div class="w-full border border-gray-300 dark:border-gray-600">
        <div class="h-[20rem]">
          <ngx-voyage path="/" [files]="[]">
            <ng-template #header
              ><span style="font-size: 18px; font-weight: bold"
                >👻 My Files</span
              >
            </ng-template>
            <ng-template #footer
              ><small>&copy; Umbrella corp. 2025</small></ng-template
            >
          </ngx-voyage></div
        >
        <pre><code class="language-html "
      ><![CDATA[<ngx-voyage path="/" [files]="[]">
  <ng-template #header>
    <span style="font-size: 18px; font-weight: bold">
      👻 My Files
    </span>
  </ng-template>
  <ng-template #footer>
    <small>
      &copy; Umbrella corp. 2025
    </small>
  </ng-template>
</ngx-voyage>]]></code></pre>
      </div>
    </div>
  </div>

  <div class="text-sm hidden xl:block">
    <nav class="sticky top-10">
      <app-sidenav [sideNavLinks]="sideNavLinks"></app-sidenav>
    </nav>
  </div>
</div>
